header{
    padding: 25px;
    text-align: center;
    color: goldenrod;
    background-color: rgb(239, 218, 157);
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    margin-top: 50px; 
    width: 500px;
    height: auto;
}

h2{
    margin-top: 40px;
}

form{
    padding: 15px 15px 15px 15px;
}
